# OS X Files
.DS_Store

# Eclipse Project Files
.classpath
.project
.settings/

# Intellij Project Files
*.iml
*.ipr
*.iws
.idea/

# Gradle Files
.gradle/
bin/
build/
settings.gradle

# Files
/src/main/webapp/resources/css/main.min.css
/src/main/webapp/resources/css/styles.min.css
/src/main/webapp/resources/fonts/*
/src/main/webapp/resources/js/main.min.js
/src/main/webapp/resources/js/main.min.js.map
._bower.json
._gruntfile.js
._package.json

# Folders
bower_components/*
node_modules/*