<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Record</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/resources/css/styles.min.css}" rel="stylesheet"/>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <h1>Add a Record</h1>
                <form id="form-record" class="form-horizontal" th:action="@{/insert-record}" method="post">
                    <div id="fields"></div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" class="btn btn-success" value="Submit"/>
                            <a th:href="@{/}" class="btn btn-primary">Menu</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script th:inline="javascript" type="text/javascript">
        (function() {
            var fieldsDefinition = JSON.parse([[${fieldsDefinition}]]) || {};
            $.each(fieldsDefinition, function (key, value) {
                var field = '<div class="form-group">' +
                                '<label for="' + key + '" class="col-sm-2 control-label">' + key + '</label>' +
                                '<div class="col-sm-10">' +
                                    '<input type="text" id="' + key + '" name="' + key + '" class="form-group" value="" />' +
                                '</div>' +
                            '</div>';
                $(field).appendTo($('#fields'));
            });

            $("#form-record").submit(function (event) {
                event.preventDefault();
                var recordSerialized = JSON.stringify(transformFormDataInMap($(this)));
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: recordSerialized,
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                });

                $('#form-record').trigger("reset");
            });
        })();

        function transformFormDataInMap($form) {
            var unIndexedArray = $form.serializeArray();
            var indexedArray = {};

            $.map(unIndexedArray, function (n, i) {
                indexedArray[n['name']] = n['value'];
            });

            return indexedArray;
        }
    </script>

</body>
</html>
