<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/resources/css/styles.min.css}" rel="stylesheet"/>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <h1>Menu</h1>
                <div class="list-group">
                    <a th:href="@{/create-file}" class="list-group-item active">Create File</a>
                    <a th:href="@{/define-field-structure}" class="list-group-item">Define Field Structure</a>
                    <a th:href="@{/insert-record}" class="list-group-item">Insert Record</a>
                    <a th:href="@{/search}" class="list-group-item">Search</a>
                    <a th:href="@{/display}" class="list-group-item">Display Records In File</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
