<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/resources/css/styles.min.css}" rel="stylesheet"/>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <h1>Search</h1>
                <form id="form-valueToSearch" class="form-horizontal" th:action="@{/search}" th:object="${search}" method="post">
                    <div class="form-group">
                        <label for="search" class="col-sm-2 control-label">Buscar</label>
                        <div class="col-sm-10">
                            <input type="text" id="search" class="form-control" th:field="*{valueToSearch}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" class="btn btn-success" value="Submit"/>
                            <a th:href="@{/}" class="btn btn-primary">Menu</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <h1>Result</h1>
                <table class="table table-hover">
                    <tr th:each="record : ${recordMap}">
                        <td th:text="${record.key}">Key</td>
                        <td th:text="${record.value}">Value</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>
</html>
